<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Vehicle details</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Vin: <b>{{vehicleDto.vin}}</b></li>
                            <li class="list-group-item">Color: <b>{{vehicleDto.color}}</b></li>
                            <li class="list-group-item">PlaceNumber:<b>{{vehicleDto.placeNumber}}</b></li>
                            <li class="list-group-item">PlaceNumber:<b>{{vehicleDto.kilometersNumber}}</b></li>
                            <li class="list-group-item">PlaceNumber:<b>{{vehicleDto.fuelType}}</b></li>
                          </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>