/* Add CSS styles to your elements */

.main-content {
    padding: 20px;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-12 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.card-header {
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header-danger {
    background-color: #f44336; /* Change the background color as needed */
    color: #fff;
}

.card-title {
    margin-bottom: 0;
}

.card-body {
    flex: 1 1 auto;
    padding: 15px;
}

.list-group {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.list-group-item:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.list-group-flush {
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}
