<form class="normal-form">
    <mat-grid-list cols="2" rowHeight="300px">
        <mat-grid-tile>
            <div class="controles-container">

                <mat-form-field>
                    <mat-icon matPrefix color="primary">color_lens</mat-icon>
                    <input matInput required placeholder="Name" name="vin" [(ngModel)]="vehicleDto.vin">
                    <mat-error>This field is mandatory.</mat-error>
                </mat-form-field>
                <mat-form-field>

                    <input matInput required placeholder="category" name="placeNumber"
                        [(ngModel)]="vehicleDto.placeNumber" (keydown)="filterNonNumericInput($event)">
                    <mat-error>This field is mandatory.</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="description" name="kilometersNumber"
                        [(ngModel)]="vehicleDto.kilometersNumber" (keydown)="filterNonNumericInput($event)">

                </mat-form-field>
                

                <mat-form-field>
                    <mat-label>Status</mat-label>
                    <mat-select [(ngModel)]="vehicleDto.status">
                        <mat-option value="repture de stock">Repture de stock</mat-option>
                        <mat-option value="available">Available</mat-option>
                       
                    </mat-select>
                </mat-form-field>
                <div class="button-row">
                    <button mat-raised-button color="accent" (click)="onSubmit()">
                        <mat-icon button style="background-color:hsl(332, 100%, 71%)" matPrefix>send</mat-icon>Submit
                    </button>
                    <button mat-raised-button color="primary" class="custom-button" (click)="cancel()"><mat-icon
                            matPrefix >cancel</mat-icon>Cancel</button>
                </div>

            </div>
        </mat-grid-tile>
       
    </mat-grid-list>
</form>