<form class="normal-form">
    <mat-grid-list cols="2" rowHeight="300px">
        <mat-grid-tile>
            <div class="controles-container">
                <input type="hidden">
                <mat-form-field>
                    
                    <input matInput  placeholder="Name" name="vin" [(ngModel)]="vehicleDto.vin">       
                </mat-form-field>
            
                <mat-form-field>

                    <input matInput placeholder="category" name="placeNumber"
                        [(ngModel)]="vehicleDto.placeNumber">
                   
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="description" name="kilometersNumber"
                        [(ngModel)]="vehicleDto.kilometersNumber">

                </mat-form-field>
                

            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="controles-container">
                <input type="hidden">
                <!--mat-form-field>
                    
                    <mat-label>Select model</mat-label>
                    
                    <mat-select [(ngModel)]="selectedValue" name="model">
                        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon"(click)="addModel()">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                        <mat-option *ngFor="let model of modelList" [value]="model.name">{{model.name}}</mat-option>
                    </mat-select>
                </mat-form-field-->
                <mat-form-field>
                    <mat-label>Status</mat-label>
                    <mat-select [(ngModel)]="vehicleDto.status">
                        <mat-option value="repture de stock">In Maintenance</mat-option>
                        <mat-option value="available">Available</mat-option>
                       
                    </mat-select>
                </mat-form-field>

                <div class="button-row">
                    <button mat-raised-button style="background-color:hsl(332, 100%, 71%)" (click)="onSubmit()"> <mat-icon matPrefix>send</mat-icon>Submit</button>
                    <button mat-raised-button color="primary" class="custom-button" (click)="cancel()"><mat-icon
                        matPrefix>cancel</mat-icon>Cancel</button>
                </div>
            </div>

        </mat-grid-tile>
    </mat-grid-list>
</form>
