<form class="normal-form">
    <mat-grid-list cols="2" rowHeight="300px">
        <mat-grid-tile>
            <div class="controles-container">
                <input type="hidden">
                <mat-form-field>
                    <mat-icon matPrefix color="primary">directions_car</mat-icon>
                    <input matInput  placeholder="vin" name="vin" [(ngModel)]="vehicleDto.vin">       
                </mat-form-field>
                <mat-form-field>
                    <mat-icon matPrefix color="primary">color_lens</mat-icon>
                    <mat-label>Color</mat-label>
                    <mat-select [(ngModel)]="vehicleDto.color">
                        <mat-option value="gris">Gris</mat-option>
                        <mat-option value="red">Red</mat-option>
                       
                    </mat-select>
                    
                </mat-form-field>
                <mat-form-field>

                    <input matInput placeholder="placeNumber" name="placeNumber"
                        [(ngModel)]="vehicleDto.placeNumber">
                   
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="kilometersNumber" name="kilometersNumber"
                        [(ngModel)]="vehicleDto.kilometersNumber">

                </mat-form-field>
                <mat-form-field>
                    <mat-icon matPrefix color="primary">local_gas_station</mat-icon>
                    <mat-label>FuelType</mat-label>
                    <mat-select [(ngModel)]="vehicleDto.fuelType">
                        <mat-option value="gasoline">Gasoline</mat-option>
                        <mat-option value="Diesel">Diesel</mat-option>
                        <mat-option value="electricity">Electricity</mat-option>
                        <mat-option value="LPG">LPG</mat-option>
                        <mat-option value="CNG">CNG</mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="controles-container">
                <input type="hidden">
                <!--mat-form-field>
                    
                    <mat-label>Select model</mat-label>
                    
                    <mat-select [(ngModel)]="selectedValue" name="model">
                        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon"(click)="addModel()">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                        <mat-option *ngFor="let model of modelList" [value]="model.name">{{model.name}}</mat-option>
                    </mat-select>
                </mat-form-field-->
                <mat-form-field>
                    <mat-select [(ngModel)]="vehicleDto.status">
                        <mat-option value="in Maintenance">In Maintenance</mat-option>
                        <mat-option value="available">Available</mat-option>
                       
                    </mat-select>
                </mat-form-field>

                <div class="button-row">
                    <button mat-raised-button color="primary" (click)="onSubmit()"> <mat-icon matPrefix>send</mat-icon>Submit</button>

                </div>
            </div>

        </mat-grid-tile>
    </mat-grid-list>
</form>
